<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>upi_pay_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>Bandhan</string>
		<string>BHIM</string>
		<string>CanaraMobility</string>
		<string>CentUPI</string>
		<string>com.amazon.mobile.shopping</string>
		<string>com.ausmallfinancebank.aupay.bhimupi</string>
		<string>com.jkbank.bhimjkbankupi</string>
		<string>com.rbl.rblimplicitjourney</string>
		<string>com.syndicate.syndupi</string>
		<string>com.vijayabank.UPI</string>
		<string>cred</string>
		<string>dbin</string>
		<string>freecharge</string>
		<string>gpay</string>
		<string>hdfcnewbb</string>
		<string>imobileapp</string>
		<string>in.cointab.app</string>
		<string>in.fampay.app</string>
		<string>kvb.app.upiapp</string>
		<string>lotza</string>
		<string>mobikwik</string>
		<string>money.bullet</string>
		<string>myairtel</string>
		<string>myJio</string>
		<string>paytm</string>
		<string>payzapp</string>
		<string>phonepe</string>
		<string>truecaller</string>
		<string>ucoupi</string>
		<string>upi</string>
		<string>upibillpay</string>
		<string>whatsapp</string>
		<string>www.citruspay.com</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
